<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="POST">
    <input type="text" name="uName" placeholder="Anka">    
    <input type="email" name="uEmail" placeholder="example@email.com">
    <input type="password" name="uPassword" placeholder="HAHAHHAHAH">
    <button type="submit">OKEJ</button>
    </form>
  
</body>
</html>